.header {
  margin-top: 45px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}

.header__logo {
  height: 33px;
  width: 173px;
  margin-bottom: 41px;
}

@media screen and (max-width: 620px) {
  .header {
    margin-top: 28px;
    max-width: 320px;
  }

  .header__logo {
    height: 24px;
    width: 126px;
    margin-left: 27px;
    margin-bottom: 32px;
  }
}
